NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_EPAYCO_PUBLIC_KEY=REEMPLAZAR_CON_LLAVE_PUBLICA_DE_TEST
EPAYCO_CUSTOMER_ID=REEMPLAZAR_CON_CUSTOMER_ID
EPAYCO_PRIVATE_KEY=REEMPLAZAR_CON_LLAVE_PRIVADA_DE_TEST
EPAYCO_TEST_MODE=true
